<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Go Planner!</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/button.scss}">
</head>
<body>
<div class="container">
    <div class="main_header">
        <button class="add_button">+ Add</button>
    </div>
    <div class="middle_list">
        <div class = "middle_nav">
            <p class="week_title">Week Plan <br><progress th:value="${success_rate}" max="100"></progress></p>
        </div>
        <div class="week_list">
            <div class="day_list mon">
                <ul th:each="item : ${mon_items}">
                    <li>
                        <span th:text="${item.title}"></span>
                        <span th:text="${item.description}"></span>
                        <progress th:value="${item.percentage}" max="100"></progress>
                    </li>
                </ul>
            </div>
            <div class="day_list tus">
                <ul th:each="item : ${tus_items}">
                    <li>
                        <span th:text="${item.title}"></span>
                        <span th:text="${item.description}"></span>
                        <progress th:value="${item.percentage}" max="100"></progress>
                    </li>
                </ul>
            </div>
            <div class="day_list wen">
                <ul th:each="item : ${wen_items}">
                    <li>
                        <span th:text="${item.title}"></span>
                        <span th:text="${item.description}"></span>
                        <progress th:value="${item.percentage}" max="100"></progress>
                    </li>
                </ul>
            </div>
            <div class="day_list ths">
                <ul th:each="item : ${ths_items}">
                    <li>
                        <span th:text="${item.title}"></span>
                        <span th:text="${item.description}"></span>
                        <progress th:value="${item.percentage}" max="100"></progress>
                    </li>
                </ul>
            </div>
            <div class="day_list fri">
                <ul th:each="item : ${fri_items}">
                    <li>
                        <span th:text="${item.title}"></span>
                        <span th:text="${item.description}"></span>
                        <progress th:value="${item.percentage}" max="100"></progress>
                    </li>
                </ul>
            </div>
            <div class="day_list sat">
                <ul th:each="item : ${sat_items}">
                    <li>
                        <span th:text="${item.title}"></span>
                        <span th:text="${item.description}"></span>
                        <progress th:value="${item.percentage}" max="100"></progress>
                    </li>
                </ul>
            </div>
            <div class="day_list sun">
                <ul th:each="item : ${sun_items}">
                    <li>
                        <span th:text="${item.title}"></span>
                        <span th:text="${item.description}"></span>
                        <progress th:value="${item.percentage}" max="100"></progress>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class = "bottom_list">
        <a class="allday_title">매일 할일</a>
        <div class = "plan_box">
            <ul th:each="item : ${all_items}">
                <li>
                    <span th:text="${item.title}"></span>
                    <span th:text="${item.description}"></span>
                    <progress th:value="${item.percentage}" max="100"></progress>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>