<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Go Planner!</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
    <div class="main_header">
        <button>일정 추가</button>
    </div>
    <div class="middle_list">
        <p class="week_title">Week Plan</p>
        <div class="week_list">
            <ul th:each="item : ${items}" class="day_list mon">
                <li>
                    <span th:text="${item.title}"></span>
                    <span th:text="${item.description}"></span>
                </li>
            </ul>
            <ul class="day_list tus"></ul>
            <ul class="day_list wen"></ul>
            <ul class="day_list tus"></ul>
            <ul class="day_list fri"></ul>
            <ul class="day_list sat"></ul>
            <ul class="day_list sun"></ul>
        </div>
    </div>
</div>
</body>
</html>